@import "base";
body{
	font-family: "PingFangSC-Light";
	font-size: .34rem;
	background-color: black;
}
header{
	width:100%;
	height: .88rem;
}

.content{
	border-radius: .06rem;
	width: 6.9rem;
	background-color: #fff;
	margin: 0 auto;
	padding-bottom: .85rem;
	div{
		padding:.5rem .3rem;
		dl{
			line-height:.7rem;
			display: flex;
			color: #242424;
			dt{
				flex:3;
			}
			dd{
				flex:6;

				span{
					color: #7d7d7d;
					display: block;
					height: .6rem;
					line-height: .6rem;
					padding: 0 .3rem;
					width:3.92rem;
					border: 1px solid #979797;
					border-radius: 1rem;
					input{
						border: hidden;
						font-size: .28rem;
						background-color: transparent;
					}
					.write{
						color: #242424;
						font-size: .34rem;
					}
				}
				.err{
					border: 1px solid #E00C26;
					background-color: #FFF8F9;
				}
			}
		}
		div{
			padding:0 0;
			margin-top: .15rem;
			position: relative;
			#faultDesc{
				border-radius: .06rem;
				color: #242424;
				font-size: .36rem;
				height: 4.74rem;
				line-height: .5rem;
				padding: .3rem;
				width: 5.7rem;
			}
			#count{
				position: absolute;
				bottom:.3rem;
				right:.3rem;
			}
		}
	}

		i{
			@include bg2("button");
			color: #fff;
			display: block;
			height:.88rem;
			line-height: .88rem;
			margin:0 auto;
			text-align: center;
			width:6.3rem;
		}

}