@import "base";

.content{
	width: 6.9rem;
	margin: 0.4rem auto 0;
	padding-bottom: .85rem;
	@extend %common-shadow;
	div{
		padding:.5rem .3rem;
		dl{
			line-height:.7rem;
			display: flex;
			color: $blackColor;
			dt{
				flex:3;
			}
			dd{
				flex:6;
				input{
					color: $greyColor;
					display: block;
					height: .6rem;
					line-height: .6rem;
					padding: 0 .3rem;
					width:3.92rem;
					border: 1px solid $greyColor2;
					border-radius: 1rem;
					box-sizing: border-box;


					font-size: .28rem;
					background-color: transparent;
					}
				.write{
					color: $blackColor;
					font-size: .34rem;
				}

				.err{
					border: 1px solid #E00C26;
					background-color: #FFF8F9;
				}
			}
		}
		div{
			padding:0 0;
			margin-top: .15rem;
			position: relative;
			#faultDesc{
				border-radius: .06rem;
				color: $blackColor;
				font-size: .36rem;
				height: 4.74rem;
				line-height: .5rem;
				padding: .3rem;
				width: 5.7rem;
				resize: none;
			}
			#count{
				position: absolute;
				bottom:.3rem;
				right:.3rem;
			}
		}
	}

	.bottomBtn{
			@extend %common-shadowBtn;
			width:6.3rem;
			height:.88rem;
			line-height: .88rem;
		}

}