@import "base";

body{
    padding-bottom: 0.26rem;
}

.bus-menu{
    width: 6.9rem;
    margin: 0 auto;
    @extend %common-shadow;
    box-sizing: border-box;
    padding: 0 0.3rem;
    > a{
        position: relative;
        display: block;
        width: 100%;
        @extend %ui-border-b;
        color: $blackColor;
        p{
            height: 1.4rem;
            line-height: 1.4rem;
            font-size: 0.34rem;
            padding: 0 0.42rem 0 0.7rem;
            > span:nth-of-type(2){
                width: 50%;
                text-align: right;
                float: right;
                color: $blueColor;
            }
            b{
                margin: 0 0.1rem;
                color: $blueColor;
            }
        }
        > i{
            position: absolute;
            top: 50%;
            &:nth-of-type(1){
                left: 0;
            }
            &:nth-of-type(2){
                right: 0;
            }
        }
        $aImg: 'icon_car' 'icon_Test' 'icon_fault' 'icon-user';
        $aWidth: 0.84rem 0.82rem 0.8rem 0.8rem;
        $aHeight: 0.92rem 0.92rem 0.82rem 0.78rem;
        @for $i from 1 to 5{
            // UI给的图片大了一倍，故÷2
            $w: nth($aWidth,$i)/2;
            $h: nth($aHeight,$i)/2;
            &:nth-child(#{$i}) > i:nth-of-type(1){
                width: $w;
                height: $h;
                margin-top: -$h/2;
                @include bg2(nth($aImg,$i),$w,$h);
            }
        }
        &:nth-child(1) > i:nth-of-type(2){
            width: 0.41rem;
            height: 0.42rem;
            margin-top: -0.21rem;
            @include bg2('icon_Set_up');
        }
        &:nth-child(2) > i,
        &:nth-child(3) > i{
            &:nth-of-type(2){
                width: 0.14rem;
                height: 0.24rem;
                margin-top: -0.12rem;
                @include bg2('Stroke');
            }
        }
    }
}

.car-line{
    @extend %common-shadow;
    width: 6.9rem;
    padding-top: 0.14rem;
    margin: 0 auto;
    > h2{
        height: 1.04rem;
        line-height: 1.04rem;
        font-size: 0.34rem;
        color: $blackColor;
        text-indent: 0.9rem;
        font-weight: normal;
        @include bg2('icon-trajectory',0.43rem,0.42rem);
        background-position: 0.3rem center;
    }
    .car-map{
        height: 3.34rem;
    }
}