@import "base";

.checkIn {
    position: relative;
}
.checkIn-column {
    width: 6.9rem; 
    margin: 0.6rem auto 0;
    @extend %common-shadow;
}
.checkIn-header {
    display: flex;
    background-color: #F3F3F3;
    border-radius: 0.06rem 0.06rem 0 0;
    > a{
        display: block;
        height: 1.4rem;
        line-height: 1.4rem;
        &:nth-child(1),&:nth-child(3){
            width: 1.74rem;
            background-position: center center;
        }
        &:nth-child(1){
            @include bg2('zuo',0.18rem,0.32rem);
        }
        &:nth-child(3){
            @include bg2('you',0.18rem,0.32rem);
        }
        &:nth-child(2){
            width: 3.42rem;
            font-size: 0.4rem;
            color: $blackColor;
            text-align: center;
        }
    }
}
.checkIn-calendar{
    padding: 0.1rem 0.02rem;
    li{
        height: 0.95rem;
        line-height: 0.95rem;
        text-align: center;
        font-size: 0.34rem;
        color: $blackColor;
    }
    > ul{
        display: flex;
        > li{
            flex: 1;
        }
    }
    .checkIn-date li{
        float: left;
        position: relative;
        width: 0.98rem;
        background-position: 0.03rem 0.07rem;
        &.cur:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include bg2('dangqianweizhi',0.6rem,0.6rem);
            background-position: center center;
        }
        &.manual{
            @include bg2('rengongqiandao',0.74rem,0.77rem);
        }
        &.auto{
            @include bg2('zidongqiandao',0.74rem,0.77rem);
            color: #fff;
        }
    }
}
.checkIn-icon{
    display: flex;
    padding: 0 0.3rem;
    > span{
        width: 1.94rem;
        height: 1.08rem;
        line-height: 1.08rem;
        font-size: 0.28rem;
        color: #7D7D7D;
        text-indent: 0.52rem;
        background-position: left center;
        &:nth-child(1){
            @include bg2('rengongqiandao',0.42rem,0.44rem);
        }
        &:nth-child(2){
            @include bg2('zidongqiandao',0.42rem,0.44rem);
        }
        &:nth-child(3){
            @include bg2('dangqianweizhi',0.3rem,0.3rem);
        }
    }
}
.checkIn-msg{
    height: 0.42rem;
    line-height: 0.42rem;
    margin-bottom: 0.66rem;
    text-indent: 0.84rem;
    color: $redColor;
    font-size: 0.28rem;
    @include bg2('jinggao',0.4rem,0.4rem);
    background-position: 0.3rem center;
}
.checkIn-login{
    width: 6.9rem;
    height: 0.88rem;
    line-height: 0.88rem;
    @extend %common-shadowBtn;
}
