@import "base";

.credentials-box{
    position: relative;
    margin: 0.6rem auto 0;
    width: 6.9rem;
    @extend %common-shadow;
    .credentials-item{
        display: flex;
        @extend %ui-border-b;
        > span,& > input, & > b{
            display: block;
            height: 1.08rem;
            font-size: 0.34rem;
        }
        > span{
            width: 1.96rem;
            line-height: 1.08rem;
            text-align: center;
            color: $blackColor;
        }
        > input, & > b{
            width: 4.94rem;
            line-height: 0.48rem;
            color: $greyColor;
            text-align: right;
            box-sizing: border-box;
            border: none;
            padding: 0.3rem;
            background-color: transparent;
            
            &:disabled{
                color: $greyColor;
            }
        }
        & > b{
            @include eps;
        }

    }
}

.credentials-photo{
    padding: 0.3rem;
    > p{
        padding-top: 0.06rem;
        padding-bottom: 0.3rem;
        height: 0.4rem;
        color: $greyColor;
        font-size: 0.28rem;
        line-height: 0.4rem;
    }
    > a{
        position: relative;
        display: block;
        width: 100%;
        height: 2.2rem;
        line-height: 2.2rem;
        input{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }
        img{
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
}

.credentials-tip{
    padding-left: 0.6rem;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.28rem;
    margin: 0.3rem 0;
    background-position: 1.91rem 0;
    min-height: 1px;
    &.success{
        @include bg2('chenggong',0.4rem,0.4rem);
    }
    &.error,&.fail{
        @include bg2('jinggao',0.4rem,0.4rem);
    }
}
.credentials-prompt{
    display: none;
    z-index: 10;
    position: absolute;
    top: 1.1rem;
    left: 0.2rem;
    width: 6.5rem;
    @extend %common-shadow;
    background-color: #f9f9f9;
    max-height: 7rem;
    overflow-y: auto;
    > li{
        text-indent: 0.3rem;
        line-height: 0.76rem;
        font-size: 0.26rem;
        color: #7d7d7d;
        @extend %ui-border-b;
        &:last-child{
            @extend %ui-border-n;
        }
        span{
            color: $blackColor;
        }
    }

    &.show{
        display: block;
    }
}
.credentials-btn{
    width: 6.3rem;
    height: 0.98rem;
    line-height: 0.98rem;
    @extend %common-shadowBtn;
}