@import "base";
body{
	color: $blackColor;
}

.content{
	width: 6.3rem;
	height:10.07rem;
	margin: 0.45rem auto 0;
	padding: .42rem .3rem .85rem;
	position: relative;
	@extend %common-shadow;
	>div{
		p{
			line-height: .62rem;
		}
		dl{
			color: $greyColor;
			display: flex;
			font-size: .3rem;
			line-height: .62rem;
			dt{
				flex: 1;
				white-space: nowrap;
			}
			dd{
				flex:3;
				@include eps;
			}
		}
	}
	>div{
		>span{
			line-height: .82rem;
		}
		ul{
			line-height: .82rem;
			li{
				position: relative;
				span{
					color: #247BFF;
				}
				>p{
					position: absolute;
					line-height: .82rem;
					top: 0;
					right:.67rem;
					>i{
						position: absolute;
						width:.398rem;
						height:.398rem;
						right:-.67rem;
						top:.21rem;
					}
				}


			}
		}
	}

	>b{
		display: block;
		border: 1px solid #dfdfdf;
		margin:.3rem 0;
	}
	.bottomBtn{
		height:.88rem;
		line-height: .88rem;
		margin:0 auto;
		position: absolute;
		bottom: .85rem;
		text-align: center;
		width:6.3rem;
		@extend %common-shadowBtn;
		b{
			position: relative;
			>u{
				@include bg2("icon_refresh");
				position: absolute;
				top:.035rem;
				left: -.5rem;
				width:.4rem;
				height: .41rem;
			}
		}

	}

}
.normal{
	@include bg2("normal");
}
.err{
	@include bg2("icon_fail");
}
.loading{
	@include bg2("icon_loading");
	animation:rotating 1.2s linear infinite
}

@keyframes rotating{
	from{transform:rotate(0)}
	to{transform:rotate(360deg)}
}