@import "base";

.settings-box{
    padding-top: 0.75rem;

    .settings-item{
        position: relative;
        display: block;
        width: 6.9rem;
        height: 0.98rem;
        line-height: 0.98rem;
        margin: 0 auto 0.2rem;
        @extend %common-shadow;
        text-indent: 0.3rem;
        font-size: 0.34rem;
        color: $blackColor;

        &.active > i{
            position: absolute;
            top: 50%;
            right: 0.6rem;
            width: 0.16rem;
            height: 0.16rem;
            margin-top: -0.08rem;
            border-radius: 50%;
            background-color: #f43531;
        }
        &.bg{
            @include bg2('Stroke',0.14rem,0.24rem);
            background-position: 6.5rem center;
        }
        > span{
            position: absolute;
            top: 0;
            right: 0.24rem;
            font-size: 0.3rem;
            line-height: 0.98rem;
            width: 30%;
            text-align: right;
            color: $greyColor;
        }
    }
}

.settings-signOut{
    position: fixed;
    bottom: 1.1rem;
    left: 50%;
    width: 6.9rem;
    height: 0.88rem;
    line-height: 0.88rem;
    @extend %common-shadowBtn;
    margin-left: -3.45rem;
}