<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <!--<script src="../js/lib/autosize.js"></script>-->
    <title>人工报修</title>
</head>
<body>
    <div id="artificialRepair">
        <common-top :back-type="0" title="人工报修"></common-top>
        
        <div class="content">
            <div>
                <dl>
                    <dt>车牌号：</dt>
                    <dd>
                        <span :class="[input_flag==2?'err':'']">
                            <input type="text" placeholder="请输入车牌号" v-model="getDetail.plate_num" id="plate_num" :class="[input_flag==1||input_flag==2?'write':'']">
                        </span>
                    </dd>
                </dl>
                <dl>
                    <dt>报修时间：</dt>
                    <dd>{{getDetail.ctime}}</dd>
                </dl>
                <dl>
                    <dt class="faultDesc">故障描述：</dt>
                    <dd></dd>
                </dl>
                <div>
                    <textarea id="faultDesc" name="faultDesc"  v-model="getDetail.content"></textarea>
                    <span id="count" class="dxj-txt" ><b>{{len}}</b>/50</span>
                </div>
            </div>
            <a @click="submitDate" :class="['bottomBtn',isSubmit?'a_c':'disabled']" >提交</a>

        </div>
    </div>
</body>
</html>