<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>签到</title>
</head>
<body>

    <div id="checkIn" v-cloak class="checkIn">
        <common-top :back-type="1" title="签到"></common-top>   

        <div class="checkIn-column">
            <nav class="checkIn-header">
                <a @click="preMonth()" href="javascript:;"></a>
                <a href="javascript:;">{{curTime|yearMonth}}</a>
                <a @click="nextMonth()" href="javascript:;"></a>
            </nav>
            <div class="checkIn-calendar">
                <ul>
                    <li>日</li>
                    <li>一</li>
                    <li>二</li>
                    <li>三</li>
                    <li>四</li>
                    <li>五</li>
                    <li>六</li>
                </ul>
                <ol class="clearfix checkIn-date">
                    <li v-for="item in tempDays" :key="item-30"></li>
                    <li :class="{'cur':(index+1)==curDate,'auto':list.type==1,'manual':list.type==2}" v-for="(list,index) in checkList" :key="index">{{index+1}}</li>
                </ol>
            </div>
        </div>
        <div class="checkIn-icon">
            <span>人工签到</span>
            <span>自动签到</span>
            <span>当前位置</span>
        </div>
        <p :style="{'opacity':(checkInError?1:0)}" class="checkIn-msg">当前车辆签到不成功，请尝试重新签到。</p>
        
        <a @click="checkInLogin()" :class="['checkIn-login',isCheckIn?'disabled':'a_c']" href="javascript:;">签到</a>
    </div>
</body>
</html>