<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <!--<script src="../js/lib/autosize.js"></script>-->
    <title>设备自检</title>
</head>
<body>
    <div id="deviceSelf">
        <msg></msg>
        <common-top :back-type="0" title="设备自检"></common-top>
        <div class="content">
            <div>
                <p>请在WiFi状态下：进行设备每日检测</p>
                <dl>
                    <dt>检测时间：</dt>
                    <dd v-if="getDetail.dtime==''"></dd>
                    <dd v-else>{{getDetail.dtime | ymdhms}}</dd>
                </dl>
            </div>
            <b></b>
            <div>
                <span>当前监测情况：</span>
                <ul>
                    <li>
                        车牌号：<span>{{getDetail.plate_num}}</span>
                        <p>
                            <span></span>
                            <i :class="[getDetail.hasNumber==false?'':getDetail.plate_num?'normal':'err']"></i>

                        </p>
                    </li>
                    <li>
                        设备SN：<span>{{getDetail.plate_sn}}</span>
                        <p>
                            <span></span>
                            <i :class="[getDetail.hasNumber==false?'':getDetail.plate_sn?'normal':'err']"></i>
                        </p>
                    </li>
                    <li>
                        WiFi连接 <span></span>
                        <p>
                            <span v-if="getDetail.wifi==0&&getDetail.status==1">已报修</span>
                            <template v-else>
                                <span v-if="getDetail.wifi==0&&getDetail.status==2">已处理</span>
                            </template>
                            <i :class="[getDetail.hasNumber==false?'':getDetail.wifi==1?'normal':'err']"></i>
                        </p>
                    </li>
                    <li>Portal页面 <span></span>
                        <p>
                            <span v-if="getDetail.portal==0&&getDetail.status==1">已报修</span>
                            <template v-else>
                                <span v-if="getDetail.portal==0&&getDetail.status==2">已处理</span>
                            </template>
                            <i :class="[getDetail.hasNumber==false?'':getDetail.portal==1?'normal':'err']"></i>
                        </p>
                    <li>北斗定位 <span></span>
                        <p>
                            <span v-if="getDetail.compass==0&&getDetail.status==1">已报修</span>
                            <template v-else>
                                <span v-if="getDetail.compass==0&&getDetail.status==2">已处理</span>
                            </template>
                            <i :class="[getDetail.hasNumber==false?'':getDetail.compass==1?'normal':'err']"></i>
                        </p>
                    </li>
                </ul>
            </div>

            <a class="a_c bottomBtn" v-if="getDetail.status==2" @click="selfCheck">
                <b><u></u>自检刷新</b>
            </a>

        </div>
    </div>
</body>
</html>