<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>我的报修</title>
</head>
<body>
    <div id="myRepairs">
        <loading v-if="isWaiting"></loading>
        <common-top :back-type="backType" title="我的报修" link="artificialRepair.html" link-title="人工报修"></common-top>
        <div class="content">
            <ul>
                <li v-for="item in repairList">
                    <dl>
                        <dt>报修编号：</dt>
                        <dd>{{item.number | repairNum}}</dd>
                    </dl>
                    <dl>
                        <dt>报修时间：</dt>
                        <dd>{{item.ctime | timeFormat}}</dd>
                    </dl>
                    <dl>
                        <dt>故障描述：</dt>
                        <dd v-if="item.content.type==2">{{item.content.describe}}</dd>
                        <dd v-else></dd>
                    </dl>
                    <p>
                        <i class="submit" v-if="item.status==1">已提交</i>
                        <i class="succ" v-if="item.status==2">已修复</i>
                        <span v-if="item.type==2">人工报修</span>
                        <span v-if="item.type==1">自动报修</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>